%div
  - if defined?(@pair)
    %table
      %tr
        %th key
        %th value 
      - @pair.each do |key,value|
        %tr
          %td="#{key}: "
          %td="#{value}"
          
%div
  %form(action='/' method='POST')
    %label Method:
    %br
    %select{ :name => @method }
      %option{ :value => "GET" } GET
      %option{ :value => "POST" } POST
    %label Endpoint:
    %br
    %input{ :type=>"text", :name => :endpoint, :size => "62", :value => @endpoint}
    %br
    %label XML Request:
    %br
    %textarea{ :name => :xml, :rows => "25", :cols => "75"}= @xmlrequest
    %br
    %input(type='submit')
    
%div.collapse
  %p( class="heading")Request Xml
  %div.content
    %xmp= @xmlrequest
  
%div.collapse
  %p( class="heading" )Response Xml
  %div.content
    %xmp= @xmlresponse